<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e2esp.nestleironcalculator">

    <application
        android:name=".applications.NestleIronCalculatorApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.StartActivity"
            android:theme="@style/CustomTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AgeSelectionActivity"
            android:parentActivityName=".activities.StartActivity"
            android:theme="@style/CustomTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.StartActivity" />
        </activity>
        <activity
            android:name=".activities.ProductsActivity"
            android:parentActivityName=".activities.AgeSelectionActivity"
            android:theme="@style/CustomTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AgeSelectionActivity" />
        </activity>
        <activity android:name=".activities.ResultActivity"
            android:parentActivityName=".activities.ProductsActivity"
            android:theme="@style/CustomTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ProductsActivity" />
        </activity>
    </application>

</manifest>